<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="WorkFolderPath" value="D:\prgepam\YetAnotherVer\YAR\Relink" />
    <add key="FileName_gatewayFile" value="gateway.dat" />
    <add key="FileName_hardwareFile" value="hw.dat" />
    <add key="FileName_softwareFile" value="sw.dat" />
    <add key="FileName_userFile" value="user.dat" />
    <add key="FileName_questFile" value="quest.dat"/>
    <add key="FileName_allSoftware" value="allSoftware.dat"/>
    <add key="FileName_allHardware" value="allHardware.dat"/>
    <add key="FileName_allGateway" value="allGateway.dat"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>