
<p class="header">HDD:</p>
<a href="#openhddmap"><p class="body hoverable_underline ">20/1024 Kb</p></a>
<div id="openhddmap" class="modalDialog_fromright inactivewhenoffile" style="width: 650px; height: 100%">
	<div class="container table">
		<a href="#close" title="Закрыть" class="close">X</a>
		<div class="infomap table-row">
			<p class="header">▼ Files in HDD:</p>
			<div class="hddmap">
				<svg class="svghddmap"></svg>
			</div>
		</div>
	</div>
</div>