<p class="header">HDD:</p>
<a href="#openhddmap"><p class="body hoverable_underline ">20/1024 Kb</p></a>
<div id="openhddmap" class="modalDialog_fromright inactivewhenoffile">
	<div class="container table">
		<a href="#close" title="Закрыть" class="close">X</a>
		<div class="infomap table-row">
			<p class="header">▼ Files in HDD:</p>
			<div class="infomap table">
				<div class="tablehead table-row">
					<p class="table-cell">Name</p>
					<p class="table-cell">Size</p>
				</div>
				<div class="table-row">
					<p class="table-cell">file.txt</p>
					<p class="table-cell">54Kb</p>
				</div>
				<div class="table-row">
					<p class="table-cell">file.txt</p>
					<p class="table-cell">54Kb</p>
				</div>
				<div class="table-row">
					<p class="table-cell">file.txt</p>
					<p class="table-cell">54Kb</p>
				</div>
				<div class="table-row">
					<div class="dir">
						<p class="table-cell">imgs</p>
						<p class="table-cell">4096Kb</p>
						<div class="table-row inside">
							<p class="table-cell">file.img</p>
							<p class="table-cell">54Kb</p>
						</div>

						<div class="table-row inside">
							<p class="table-cell">file.img</p>
							<p class="table-cell">54Kb</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>