@using Relink.PL.Providers;

<a href="#openstatusmap"><p class="header hoverable_underline ">Status</p></a>
<div id="openstatusmap" class="modalDialog_fromright inactivewhenoffile" style="width: 600px;">
	<div class="container">
		<a href="#close" title="Закрыть" class="close" style="right: -324px; top: -5px;">X</a>
		<div class="statusmap">
			<p class="header">User: homk</p>
			<div class="statusbox">
				<p>Reg date: 01:01:0001</p>
			</div>
			<div class="statusbox">
				<p>Neuromancer rating: @(LogicProvider.userLogic.GetNeuromancerRating(LogicProvider.user))</p>
				<p>Relink rating: @(LogicProvider.userLogic.GetRelinkRating(LogicProvider.user))</p>
			</div>
			<div class="statusbox">
				<p>Money: @(LogicProvider.userLogic.GetMoney(LogicProvider.user))$</p>
				<p>Money on a back accout: @(LogicProvider.userLogic.GetMoneyBank(LogicProvider.user))$</p>
			</div>
		</div>
	</div>
</div>