@using Relink.PL.Providers;

<a href="#openhardwaremap"><p class="header hoverable_underline ">Hardware</p></a>
<div id="openhardwaremap" class="modalDialog_fromright inactivewhenoffile" style="width: 600px;">
	<div class="container">
		<a href="#close" title="Закрыть" class="close" style="right: -324px; top: -5px;">X</a>
		<div class="statusmap">
			<p class="header">Gate: Alpha</p>
			<div class="statusbox">
                <p>Gateway: @(LogicProvider.gate[0])</p>
                @foreach (var item in LogicProvider.hardware)
                {
                    <p>@item.ToString();</p>
                }
			</div>
		</div>
	</div>
</div>