<a href="#openquestmap"><p class="header hoverable_underline ">Quests</p></a>
<div id="openquestmap" class="modalDialog_fromright inactivewhenoffile" style="width: 650px;">
	<div class="container">
		<a href="#close" title="Закрыть" class="close" style="right: -324px; top: -5px;">X</a>

		<div class="container table">
			<div class="statusmap table-row">
				<p class="header">▼ Quests:</p>
				<div class="statusmap table">
					<div class="tablehead table-row">
						<p class="table-cell">Quest ID</p>
						<p class="table-cell">Description</p>
						<p class="table-cell">Award</p>
					</div>
					<div class="table-row">
						<p class="table-cell">1488</p>
						<p class="table-cell">Destroy server 8.8.8.8</p>
						<p class="table-cell">1488$</p>
					</div>
					<div class="table-row">
						<p class="table-cell">31415</p>
						<p class="table-cell">Copy file 27182818.dat from server 12.12.12.112</p>
						<p class="table-cell">53$</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>