<nav class="rightmenu 4col">
	<div>
		<span class="ip hoverable_around_outline">IP: 192 . 0 . 0 . 1 &darr;</span>
		<span class="space">linux 4.0.0.4</span>
		<span id="digital_watch" class="clock"></span>
		<div class="iplist inactivewhenoffile">
			<p>Last visited IP</p>
			<p class="hoverable_leftline">8 . 8 . 8 . 8</p>
			<p class="hoverable_leftline">192 . 168 . 0 . 1</p>
			<p class="hoverable_leftline">127 . 0 . 0 . 1</p>
		</div>
	</div>
</nav>