@using Relink.PL.Providers;

<div class="softwarelist inactivewhenoffile 3col">
    @foreach (var item in LogicProvider.software)
    {
            <p class="hoverable_leftline">@item.ToString();</p>
    }
</div>