@using Relink.PL.Providers;

<div class="softwarelist inactivewhenoffile 3col">
    @foreach (var item in LogicProvider.software)
    {
            <p id="softwarelist_@item.Name" class="hoverable_leftline">@item.Name;</p>
    }
</div>